/*------------------------
　　　　画像背景
-------------------------*/
$imagesBg: rgb(236, 236, 236);

/*------------------------
　　　　　警告
-------------------------*/
$warning: rgb(208, 2, 27);
$warningBorder: rgb(234, 160, 160);
$warningBg: rgb(255, 231, 231);

/*------------------------
　　　　　透明
-------------------------*/
$transparent: rgba(255, 255, 255, 0);

/*------------------------
　　　　　影
-------------------------*/
$shadow: rgba(0, 0, 0, 0.18);

/*------------------------
　　　　　レイヤー
-------------------------*/
// 黒背景・透過0.7
$modalBg: rgba(0, 0, 0, 0.7);
// 黒背景・透過0.0(２枚目以降のレイヤー)
$modalBgMultiple: rgba(0, 0, 0, 0);
